.gx-header-horizontal-nav .ant-menu-submenu-horizontal > .ant-menu-submenu-title svg {
    width: 15px;
    height: 10px;
}
.gx-header-horizontal-main .gx-header-notifications > li.gx-user-nav {
    margin-right: 5px !important;
    font-size: 14px;
}
.gx-popover-setting-scroll {
    min-width: 150px;
}

.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
    margin: 0 10px !important;
}

.gx-header-horizontal-nav .ant-menu-submenu-horizontal > .ant-menu-submenu-title {
    color: #545454;
}

.gx-header-horizontal-nav {
    background-color: #fff;
}

@media screen and (max-width: @screen-xs-max) {
    .ant-layout-header .ant-menu-horizontal {
        line-height: 50px;
    }
}

@media screen and (max-width: @screen-xs-max) {
    .gx-inside-header-horizontal .gx-header-horizontal-main {
        line-height: 40px;
    } 
}